@use "../abstracts/abstracts" as ab;

body {
  font-family: ab.$font-primary;
  font-size: ab.$font-body-m;
  line-height: 1.6;
  color: ab.$color-text;
}

h1 {
  font-size: ab.$font-heading-l;
}

h2 {
  font-size: ab.$font-heading-m;
}

h3 {
  font-size: ab.$font-heading-m;
}

p {
  font-family: ab.$font-secondary;
  font-size: ab.$font-body-m;
  line-height: 1.6;
}
