@use "sass:color";
@use "variables" as v;

// Breakpoints
@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
}

// Botones
@mixin button($bg-color, $color, $scale-hover: 1.05, $transition-duration: 0.3s) {
  display: inline-block;
  background-color: $bg-color;
  color: $color;
  padding: 0.4rem 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.8rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform $transition-duration ease, background-color $transition-duration ease;

  &:hover,
  &:focus {
    transform: scale($scale-hover);
    background-color: color.adjust($bg-color, $lightness: -10%);
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
}

// Hover enlaces
@mixin hover-scale($scale: 1.3, $transition-duration: 0.4s) {
  display: inline-block;
  transition: transform $transition-duration ease;

  &:hover,
  &:focus {
    transform: scale($scale);
    outline: none;
  }
}

