// Breakpoints (Mobile First)
$bp-tablet: 768px;             // Tablet vertical
$bp-tablet-horizontal: 1024px; // Tablet horizontal / portátil pequeño
$bp-desktop: 1200px;           // Escritorio normal
$bp-desktop-xl: 1440px;        // Pantallas grandes

// Colores
// $color-blanco: #FFFFFF;
// $color-negro: #010713;


// Fuentes
// $fuente: "Poppins", sans-serif;
// $headingXL: 44px;
// $headingL: 36px;
// $headingM: 24px;
// $bodyL: 20px;
// $bodyM: 16px;
// $bodyS: 14px;
