@use "../abstracts/abstracts" as ab;

main.page-404 {
    height: calc(100vh - #{ab.$altura-header});
    background-color: #f5f7f9;
    padding: 0 0rem;
    
    .error-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 1rem;
        gap: 2.5rem;

        .error-image-container {
            width: 380px;
            height: 190px;

            .error-image {
                max-width: 100%;
                max-height: 100%;
                display: block;
            }

            @include ab.breakpoint(tablet) {
                width: 500px;
                height: 250px;
            }

            @include ab.breakpoint(desktop) {
                width: 650px;
                height: 325px;
            }
        }

        h1 {
            color: ab.$color-primary;
            font-size: 24px;

            @include ab.breakpoint(tablet) {
                font-size: 28px;
            }

            @include ab.breakpoint(desktop) {
                font-size: 32px;
            }
        }

        p {
            margin: 0;
            line-height: 1.4;
            color: ab.$color-muted;
            font-size: 16px;
            text-align: center;

            @include ab.breakpoint(tablet) {
                font-size: 18px;
            }

            @include ab.breakpoint(desktop) {
                font-size: 20px;
            }
        }

        .btn-volver {
            margin-top: 1rem;
        }

        @include ab.breakpoint(tablet) {
            gap: 1rem;
        }
    }
}