@use "../abstracts/abstracts" as ab;

blockquote {
  border-left: 4px solid ab.$color-primary;
  padding: 1rem;
  padding-left: 2rem;
  margin: 2rem 0;
  font-family: ab.$font-secondary;
  font-style: italic;
  color: ab.$color-muted;
  background-color: rgba(ab.$color-primary, 0.05);
  border-radius: 0.8rem;
  line-height: 1.5;
  position: relative;

  &::before {
    content: "“";
    font-size: 4.5rem;
    color: rgba(ab.$color-primary, 0.7);
    position: absolute;
    left: 0.2rem;
    top: -1rem;
    line-height: 1;
  }
}