@use "../abstracts/mixins" as m;
@use "../abstracts/abstracts" as ab;

// Botón principal
.btn-minimal {
  @include m.button-minimal();
}

// Botones de acción "pedir cita"
.btn-cita {
    @include m.button-cta(ab.$color-accent-1, #fff, 1.1, 0.3s);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;

    @include ab.breakpoint(tablet) {
        font-size: 1.1rem;
    }

    @include ab.breakpoint(desktop) {
        font-size: 1.3rem;
    }
}

.btn-cita-header {
    @extend .btn-cita;
    padding: 0.6rem 1.1rem;
    font-size: 0.7rem;

    &:hover,
    &:focus {
        color: #fff;
    }

    @include ab.breakpoint(tablet) {
        font-size: 0.9rem;
    }

    @include ab.breakpoint(desktop) {
        font-size: 1.1rem;
    }
}

// Botón para las tarjetas de servicios
.btn-servicio {
    @include m.button-service;
}

// Botón para la página de error
.btn-volver {
    @include m.button-cta(ab.$color-primary, #fff);

    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.95rem;
    padding: 0.8rem 1.6rem;
}
