@use "../abstracts/mixins" as m;
@use "../abstracts/abstracts" as ab;

.button {
    @include m.button(#007bff, #fff, 1.1, 0.35s);
}

.btn-cita {
    @include m.button(ab.$color-accent-1, #fff, 1.15, 0.4s);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;

    @include ab.breakpoint(tablet) {
        font-size: 1.1rem;
    }

    @include ab.breakpoint(desktop) {
        font-size: 1.3rem;
    }
}

.btn-cita-header {
    @extend .btn-cita;
    padding: 0.6rem 1.1rem;
    font-size: 0.7rem;

    @include ab.breakpoint(tablet) {
        font-size: 0.9rem;
    }

    @include ab.breakpoint(desktop) {
        font-size: 1.1rem;
    }
}